
@{
    ViewBag.Title = "Break";
}

<h2>Break</h2>

You are using @Request.Browser.Browser. That is cool 

@helper formatvalues(Decimal amount) { 

var color = "green";
if (amount < 0)
{
        color = "red";

}
    }